[run]
  deadline = "2m"
  skip-files = [
    "^unsecured/"
  ]

[linters-settings]

  [linters-settings.govet]
    check-shadowing = true

  [linters-settings.gocyclo]
    min-complexity = 16.0

  [linters-settings.maligned]
    suggest-new = true

  [linters-settings.goconst]
    min-len = 3.0
    min-occurrences = 3.0

  [linters-settings.misspell]
    locale = "US"

[linters]
  enable-all = true
  disable = [
    "maligned",
    "lll",
    "gas",
    "dupl",
    "prealloc",
    "scopelint",
    "gomnd",
    "wsl",
    "goerr113",
    "testpackage",
    "godox",
  ]

[issues]
  exclude-use-default = false
  max-per-linter = 0
  max-same-issues = 0
  exclude = [
    "ST1000: at least one file in a package should have a package comment"
  ]
  [[issues.exclude-rules]]
    path = "(.+)_test.go"
    linters = ["goconst", "funlen"]
  [[issues.exclude-rules]]
    path = "meta/version.go"
    text = "`(version|commit|date)` is a global variable"

  [[issues.exclude-rules]]
    path = "report/report.go"
    text = "`loginMap` is a global variable"

  [[issues.exclude-rules]]
    path = "milestone/milestone.go"
    text = "`expMilestone` is a global variable"

  [[issues.exclude-rules]]
    path = "cmd/label_webhook.go"
    text = "cognitive complexity (\\d+) of func `\\(\\*Labeler\\)\\.onPullRequestReview` is high"

  [[issues.exclude-rules]]
    path = "cmd/label_webhook.go"
    text = "`if event\\.GetAction\\(\\) == \\\"submitted\\\"` is deeply nested"


